@CHARSET "UTF-8";
a 
	cursor:pointer;
}
body{
	width : 1263px;
	font-family:Helvetica, Tahoma, Arial;
	line-height: 1.42857143;
	background-color: #f0f2f5;
	height: 100%;
}
.top-bar{
	width : 100%;
	height: 70px;
	background: #1E1E1E;
}
.top-bar .title{
	color : #fff;
	font-size : 50px;
	float : left;
	margin: 0 50px;
	height: 70px;
}
.top-bar-right {
	float :right;
	color : #fff;
	margin: 10px 20px 0 50px;
}
.top-bar-right .loginout{
	color :  #72ACE3;
}
.top-bar-right .user{
	width : 30px;
	height : 30px;
	margin-top : -2px;
	margin-right : 6px;
}
.top-bar-right  a{
	font-size : 14px;
	color : #fff;
}
.nav-bar {
	width : 20%;
	background: #3C3C3C;
	float : left;
	min-height : 650px;
	 padding-right: 10px;
   padding-left: 10px;
  
}

.nav-bar .memu-2{
	display : none;
	font-size : 14px;
}
.nav-bar .memu-2 li a {
	background : #1E1E1E;
    font-size : 20px;
	padding-left:30%;
}
.nav-bar .memu-2 li a:hover{
	background : #1E1E1E;
}
.nav-bar li a{
	    padding: 12px 40px;
}
.nav-pills>li.active>a {
    background: #3e77ab;
    transition: -0.8s all ease-in-out;
    outline: none;
    color: #FFF;
    font-size : 20px;
}
.nav-pills>li>a{
	background: #3C3C3C;
	color :#d9d9d9;
	 font-size : 20px;
}
nav-pills>li>a:focus, .nav-pills>li>a:hover{
	background:#337ab7;
    transition: -0.8s all ease-in-out;
    outline: none;
    color: #FFF;
     font-size : 20px;
}
.content {
	width : 80%;
	float:left;
	height : 600px;
}
.modle {
	float : left;
	margin: 10px 0 0 90px;
}
.message{
	float : right;
    margin: 10px 700px 0 0;
}

.list-group-item {
    position: relative;
    display: block;
    width: 155px;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 0px solid #ddd;
    background-color:#f0f2f5;
}
.panel-body {
    padding: 0px 30px;
}
.time input{
	margin: 0px;
    font: inherit;
    color: inherit;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.course-box,.select,.time{
	float:left;
	margin-right : 10px;
}
.btn2{
	float:right;
	margin-right : 10px;
}
#frame{
	width : 100%;
	height : 650px;
}


